/* google font link import */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,700;1,500&family=Roboto:wght@100;300&family=Work+Sans&display=swap');


/* =========================== 
header area style    
==============================*/
*{
    margin: 0;
    padding: 0;
}
.header-area{
    background-color: rgba(255, 144, 14, 0.1);
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 10px;
    padding-top:30px;
}
.company-name{
  font-weight: 700;
   font-size: 40px;
   color: #131313;
}
.nav-items{
    overflow: hidden;
}
.nav-items a{
    float: right;
  display: block;
  color: #151212;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.fa-bars{
    display: none;
}

/* Banner area style start */
.banner-area{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction:column;
}
.banner-name{
    width: 500px;
    margin: auto;
}
.banner-name h3{
    font-weight: 700;
    font-size: 50px;
    color: #131313;
}
.banner-name p{
    font-weight: 400;
     font-size: 16px;
     color: #727272;
     margin: 30px 0;
}
.explore{
    display: flex;
    width: 200px;
    height: 64px;
    background: #FF900E;
    color: white;
    margin: 20px auto;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
}
.banner-photo img{
   width: 90%;
   /* margin: 50px; */
   
}
/* quick list area style */
.quick-lists{
    display: flex;
    justify-content: space-between;
    margin:50px;
}
.photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}
.photo img{
    width: 340px;
    height: 340px;
    border-radius: 8px;
}
.quick-list-contant{
    width: 400px;
    margin: auto;
   padding-left: 30px;
   text-align: left;
}
.quick-list-contant h3{
    font-weight: 500;
    font-size: 45px;
}
.quick-list-contant p{
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0;
}
.explor{
    display: flex;
    background: #FF900E;
    color: white;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.word-style1{
    color: #727272;
}
.word-style2{
    color: #131313;
}
.word-style3{
   color:#FF900E ; 
}
/* feature area style */
.features-area{
  display: flex;
  margin: 50px;
  column-gap: 20px;
  
}
.features-info{
width: 500px;
}
.features-info h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.features-info p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.feature-title{
    font-weight:700;
    font-size: 40px;
    color: #131313;
    width: 350px;
    margin-bottom: 20px;
    border-left: 5px solid gold;
}

.feature-dis{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.version,.builder,.design,.edit{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
     border-radius: 8px;
     padding: 10px;
}
.year-of-experience img{
  width: 500px;
  height: 600px;
}
.number-of-year{
 background: #FF900E;
 color: #FFFFFF;
 text-align: center;
 padding: 10px;
 border-radius: 8px;
 width: 225px;
 height: 125px;
 margin-left: 42%;
 margin-top: -100px;
 position: relative;
}

.number-of-year h3{
    font-weight: 700;
    font-size: 65px;
    
}
/* fact section */
.fact-area{
margin: 50px 100px;
}
.fact-contant{
    text-align: left;
}
.fact-contant h3{
    font-weight: 700;
    font-size: 40px;
}
.fact-contant p{
    font-size: 16px;
    font-weight: 400;
    width: 500px;
}
.small-card{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}
.card{
    border: 2px solid gold;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.card:hover{
    transform: scale(1.1);
}
/* contract section */
.contract{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    background: #f1bc7c;
    padding: 30px 20px;
    border-radius: 10px;
    
}
.contract h2,h3{
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 15px;
}
.contract a{
    font-size: 20px;
    font-weight: 400px;
    margin-right: 20px;
}

/* sponsores */
.sponsore{
   text-align: center;   
}
.sponsore h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.sponsor-name{
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
margin: 50px;
}
.copy{
  height: 50px;
  width: 800px;
  text-align: center;
  background: #FFF4E7;
  padding-top: 20px;
  margin: 20px auto;
}
/* =================================
responsive style start               
===================================== */

@media only screen and (max-width:576px) {
    *{

        margin: 0;
        padding: 0;
    }
 .nav-items a:not(:first-child) {display: none;}
 .nav-items a {
    float: none;
    display: block;
    text-align: right;
    position: absolute;
} 
.fa-bars{
    margin-top: 10px;
    float: right;
    display: block;
}
.banner-area{
    flex-direction: column;
    text-align: center;
}
.quick-lists{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}
.photos{
    grid-template-columns: repeat(1,1fr);
   margin-top: 10px;
   align-items: center;
}
 .features-area{
    flex-direction: column;
 }
 .year-of-experience{
   margin-top: 10px;
 }
 .number-of-year{
  margin-left: 30%;
 }
 .small-card{
    flex-direction: column;
    row-gap: 10px;
 }
 .contract{
    flex-direction: column;
    height: 300px;
    text-align: center;
 }
 .sponsor-name {
 flex-direction: column;
  width: 150px;
  height:400px;
  margin: 0 auto;
 }
 .copy{
   width: 400px;
 }
}